.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
}


.navLogo {
    width: 88px;
    cursor: pointer;
}

.navlist {
    list-style: none;
    display: flex;
    margin-left: auto;
    color: grey;
}

.navLi {
    margin-right: 20px;
    cursor: pointer;
    
}


.navLi:hover {
    padding: 10px 20px;
    background-color: black;
    color: white;
}


.navIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}


.cart {
    margin-left: 20px;
    cursor: pointer;
}


.navCart {
   position: relative; 
}

.cartLabel {
    background: red;
    color: white;
    border-radius: 50%;
    object-fit: cover;
    width: 12px;
    height: 12px;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 2;
    padding-left: 4px;
    padding-bottom: 13px;

}


.navSearch {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navSearchIcon {
    margin-left: 25px;
    cursor: pointer;
}

.navlist.show {
    display: flex;
}

.hamburger {
    display: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    
    .navlist {
        display: none;
        position: absolute;
        top: 50px;
        right: 8%;
        background-color: white;
        width: 50%;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .navLi:hover {
        padding: 10px 20px;
        background-color: black;
        color: white;
    }

    .navlist.show {
        display: flex;
        flex-direction: column;
    }
}