.right{
    width: 350px;
    color: gray;
    margin: 50px 0 0 0;
    
}


h2 {
    color: #000;
}


.star{
    color: orange;
    padding-top: 10px;
}


.radioButtons {
    padding-top: 20px;
}


.radioBtnGrey {
    color: rgb(167, 168, 166);
    cursor: pointer;
}


.radioBtnBlue {
    color: navy;
}


.productInfo {
    width: auto;
    margin-top: 15px;
}


.productTable {
    display: flex;
    margin-top: 35px;    
}


span {
    color: black;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border: 2px solid grey;

}


td {
    padding: 10px;
    text-align: center;
    position: relative;
}


td:first-child {
    position: relative;
    top: 25%;
    bottom: 25%;
    border-right: 2px solid grey;
}


.price {
    color: black;
    text-decoration: solid;
    font-size: x-large;
    margin-top: 25px;
}


.inches {
    margin-top: 20px;
    padding-left: 10px;
    text-decoration: underline;
    text-underline-offset: 4px;
}


.quantityAdd {
    display: flex;
    margin-top: 25px;

}


.remove {
    width: 45px;
    height: 45px;
    border-radius: 15%;
    background: transparent;
}


.add {
    width: 45px;
    height: 45px;
    border-radius: 15%;
    background: black;
    color: white;

}


.cartNum {
    margin: 25px;
}


.cartBuyBtn {
    display: flex;
    justify-content: space-between;

}


.addToCart {
    width: 150px;
    height: 60px;
    border-radius: 10%;
    background-color: white;
    border: none;
}

.buyNow {
    width: 150px;
    height: 60px;
    border-radius: 12%;
    background: black;
    color: white;
    border: none;
}