.right{
    width: 50%;
    color: gray;
    padding: 0 8%;
    height: 100vh;
    
}



.right-text {
    margin-top: 20px;
}

h2 {
    color: #000;
}


.star{
    color: orange;
    
}


.radioButtons {
    padding-top: 20px;
}


.radioBtnGrey {
    color: rgb(167, 168, 166);
    cursor: pointer;
    
}


.radioBtnBlue {
    color: navy;
}


.productInfo {
    width: auto;
    margin-top: 15px;
}


.productTable {
    display: flex;
    margin-top: 35px;   
    align-items: center;
    gap: 2em; 
}


span {
    color: black;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border: 2px solid grey;

}


td {
    padding: 5px;
    text-align: center;
    position: relative;
}


td:first-child {
    /* position: relative; */
    top: 20%;
    bottom: 20%;
    border-right: 2px solid grey;
}


.price {
    color: black;
    text-decoration: solid;
    font-size: x-large;
    margin-top: 25px;
}


.inches {
    text-decoration: underline;
    text-underline-offset: 4px;
}


.quantityAdd {
    display: flex;
    align-items: center;
    margin-top: 15px;

}


.remove {
    width: 45px;
    height: 45px;
    border-radius: 15%;
    background: transparent;
}


.add {
    width: 45px;
    height: 45px;
    border-radius: 15%;
    background: black;
    color: white;

}


.cartNum {
    margin: 25px;
}


.cartBuyBtn {
    display: flex;
    gap: 2em;
    margin-top: 20px;

}


.addToCart {
    width: 130px;
    height: 60px;
    border-radius: 10%;
    background-color: white;
    border: 5px solid white;
}

.buyNow {
    width: 130px;
    height: 60px;
    border-radius: 12%;
    background: black;
    color: white;
    border: none;
}