.left {

    width: 350px;

}

.leftTopImg{
    width: 300px;
}


.bottomBoxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    
}

.bottomBox{
    width: 100px;
    height: 100px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    

}


.bottomImg {
    width: 130px;
    height: 110px;
    border-radius: 15%;
    box-shadow: 0  5px 15px rgba(0, 0, 0, 0.2);
}


.line-container {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.horizontal-line {
    border-top: 3px dotted grey;
    position: absolute;
    top: 50%;
    height: 20px;
    width: 70%;
    align-items: center;
}


.button-container {
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.radioBtnGrey {
    color: blue;
}
